![Callysto.ca Banner](https://github.com/callysto/curriculum-notebooks/blob/master/callysto-notebook-banner-top.jpg?raw=true)

# <p style="text-align: center;">  ğŸ“Œ Challenge 2: Making Data Easy </p>

Now that we have successfully accessed the data archives from our friends back on Earth, it's time to explore what pets there are. This will help us get an idea of our options and which pets can be most suitable for life on Mars. 

**Rover**: *I hope it's dogs!*

![https://publicdomainvectors.org/en/free-clipart/Astronaut-in-space/85289.html](Images/astronaut-in-space.jpg)

# <p style="text-align: center;"> ğŸŒŸğŸŒŸğŸŒŸğŸŒŸğŸŒŸğŸŒŸğŸŒŸğŸŒŸğŸŒŸğŸŒŸğŸŒŸğŸŒŸğŸŒŸğŸŒŸğŸŒŸğŸŒŸğŸŒŸğŸŒŸğŸŒŸğŸŒŸğŸŒŸğŸŒŸğŸŒŸğŸŒŸğŸŒŸğŸŒŸğŸŒŸğŸŒŸğŸŒŸğŸŒŸ </p>

In [1]:
#â—ï¸Run this cell
import interactive as i
from IPython.display import YouTubeVideo
#YouTubeVideo('gCcyJdQyvjo')


### ğŸ“• Debrief: Heads and Tails
You might notice when you view the dataset, it's the *whole* dataset. Say we wanted to only see the first few or the last few rows of the data. To do this, we can use `dataset.head()` to see the first 5 rows or `dataset.tail()` to see the last 5 rows. Try it out below! :)

In [2]:
#â—ï¸Run this cell
i.challenge2a()

,Name,Species,Gender,Age (years),Fixed,Legs,Weight (lbs),Time to Adoption (weeks)
0,Sasha,cat,female,1,False,4,6.5,3
1,Mittens,cat,female,2,True,4,7.4,1
2,Sunflower,cat,female,5,True,4,8.1,6
3,Sheba,cat,female,7,True,4,8.4,6
4,Felix,cat,male,16,True,4,9.2,5

 ğŸ¶ Rover:  If I only wanted to see the bottom of a dataset, I would write:
pets.tail()
ğŸš€ That was great!

,Name,Species,Gender,Age (years),Fixed,Legs,Weight (lbs),Time to Adoption (weeks)
26,Daisy,dog,female,5,True,4,68.0,8
27,Ada,dog,female,2,True,4,32.0,3
28,Miaulis,cat,male,7,False,4,8.8,4
29,Heathcliff,cat,male,1,True,4,2.1,2
30,Tinkles,cat,female,1,True,4,1.7,3

### ğŸ“• Debrief: Selecting Data Columns

With the data now easily accessible, let's try using some cool functions from the `pandas` library to get to know our data more. 

For example, to access the values in a column, we can use `dataset["column_name"]`. In Python `""` and `''` are the same.<br>
You can also select multiple columns like this: `dataset[["column_name1", "column_name2"]]`. Note the double `[[ ]]` will give you a dataframe, which is most of the time what we want, versus `[]` which will give you only the single column. Later on we will focus more on getting multiple columns, so right now let's just focus on seeing one.

To list all the columns in a dataset, use `dataset.columns`.

In [3]:
#â—ï¸Run this cell
i.challenge2b()

 ğŸ¶ Rover:  First, we will need to know what columns are in the data. We can do this by either looking at the dataset again, or use  dataset_variable_name.columns
âœ… Try filling in the command to list all the columns:
pets.columns
ğŸ¥³ You're out of this world!

Index(['Name', 'Species', 'Gender', 'Age (years)', 'Fixed', 'Legs',
       'Weight (lbs)', 'Time to Adoption (weeks)'],
      dtype='object')

In [4]:
#â—ï¸Run this cell
i.challenge2c()

 ğŸ¶ Rover:  Now that we have all the column names, let's choose a couple to look at. How about the  'Name'  column?
 âœ… Select the column using  dataset_variable_name["column_name"]
petspets["Name"]
 ğŸ¶ Rover:  Remember, it has to be the exact same spelling and case as in the list. Did you double check to use  [ ]  instead of  ( ) ?
pets["Name"]
ğŸŠ Glad we have you around!

0                Sasha
1              Mittens
2            Sunflower
3                Sheba
4                Felix
5             Snowcone
6                 Wade
7             Hercules
8               Toggle
9              Boo-boo
10               Fritz
11               Maple
12                  Bo
13            Midnight
14                 Rex
15                 Gir
16                 Max
17                Nori
18    Mr. Peanutbutter
19               Lucky
20                Kujo
21               Buddy
22                Gila
23            Snuffles
24             Nibblet
25            Snuggles
26               Daisy
27                 Ada
28             Miaulis
29          Heathcliff
30             Tinkles
Name: Name, dtype: object

In [5]:
#â—ï¸Run this cell
i.challenge2d()

 ğŸ¶ Rover:  Take a look at the table we generated with the  'Name'  of the pet.
 âœ… Type the longest name in the list
The longest pet name is: Mr. Peanutbutter
ğŸ‰ You're picking up on this really well!

# ğŸ“š Challenge Complete!

You will find out some day why he is named this way (or maybe in the next challenge ... *who knows!*)
### <p style="text-align: right;"> ...continue to [Challenge 3!](./challenge-3.ipynb)</p>

# <p style="text-align: center;"> ğŸŒŸğŸŒŸğŸŒŸğŸŒŸğŸŒŸğŸŒŸğŸŒŸğŸŒŸğŸŒŸğŸŒŸğŸŒŸğŸŒŸğŸŒŸğŸŒŸğŸŒŸğŸŒŸğŸŒŸğŸŒŸğŸŒŸğŸŒŸğŸŒŸğŸŒŸğŸŒŸğŸŒŸğŸŒŸğŸŒŸğŸŒŸğŸŒŸğŸŒŸğŸŒŸ </p>

[![Callysto.ca License](https://github.com/callysto/curriculum-notebooks/blob/master/callysto-notebook-banner-bottom.jpg?raw=true)](https://github.com/callysto/curriculum-notebooks/blob/master/LICENSE.md)