![Callysto.ca Banner](https://github.com/callysto/curriculum-notebooks/blob/master/callysto-notebook-banner-top.jpg?raw=true)

# <p style="text-align: center;"> Breaking code and breaking down the code</p>

<h3>Data source: <a href = "https://www.uefa.com/uefachampionsleague/season=2021/statistics/round=2001252/clubs/kind=distribution/index.html">UEFA Champions League</a></h3>

In [3]:
%%html
<iframe src="https://www.uefa.com/uefachampionsleague/season=2021/statistics/round=2001252/clubs/kind=goaltypes/index.html" width="1024" height="600" frameborder="0" ></iframe>

### Making a csv file
Data were collected at end of the group phase (6 games per team)

In [27]:
%%writefile soccer.csv
Total goals,Average ball possession (%),Team
18,61,Bayern
16,57,Barcelona
16,44,Monchengladbach
15,50,Man. United
14,54,Chelsea
14,51,Juventus
13,59,Man. City
13,54,Paris
12,56,Dortmund
10,53,Liverpool
10,41,Porto
9,57,Sevilla
11,58,Real Madrid
11,51,Leipzig
11,47,Lazio
10,48,RB Salzburg
10,47,Atalanta
8,51,Club Brugge
7,55,Ajax
7,51,Inter Milan
7,50,Atletico Madrid
7,45,Istanbul Basaksehir
6,40,Krasnodar
5,47,Ferencvaros
5,47,Shakhtar Donetsk
5,42,Lokomotiv Moskva
4,47,Zenit
4,46,Midtjylland
4,45,Dynamo Kyiv
3,50,Rennes
2,50,Olympiacos
2,50,Marseille

Overwriting soccer.csv

### Creating a dataframe

In [18]:
import pandas
soccer_df = pandas.read_csv('soccer.csv')
soccer_df

    Total goals  Average ball possession (%)                 Team
0            18                           61               Bayern
1            16                           57            Barcelona
2            16                           44      Monchengladbach
3            15                           50          Man. United
4            14                           54              Chelsea
5            14                           51             Juventus
6            13                           59            Man. City
7            13                           54                Paris
8            12                           56             Dortmund
9            10                           53            Liverpool
10           10                           41                Porto
11            9                           57              Sevilla
12           11                           58          Real Madrid
13           11                           51              Leipzig
14           11                           47                Lazio
15           10                           48          RB Salzburg
16           10                           47             Atalanta
17            8                           51          Club Brugge
18            7                           55                 Ajax
19            7                           51          Inter Milan
20            7                           50      Atletico Madrid
21            7                           45  Istanbul Basaksehir
22            6                           40            Krasnodar
23            5                           47          Ferencvaros
24            5                           47     Shakhtar Donetsk
25            5                           42     Lokomotiv Moskva
26            4                           47                Zenit
27            4                           46          Midtjylland
28            4                           45          Dynamo Kyiv
29            3                           50               Rennes
30            2                           50           Olympiacos
31            2                           50            Marseille

### Making a circle graph for the top 5 scoring teams
**How many goals did teams score?**

In [28]:
top5 = soccer_df.iloc[1:5]
top5

   Total goals  Average ball possession (%)             Team
1           16                           57        Barcelona
2           16                           44  Monchengladbach
3           15                           50      Man. United
4           14                           54          Chelsea

**What percentage of goals did teams score?**

In [29]:
import matplotlib.pyplot as plt

values = top5['Total goals']
names = top5['team']

plt.pie(values, labels = names, autopct='%1.0f%%')
plt.title('Total goals for top 5 teams')
plt.show()

KeyError: 'team'

**Notice** that within the total goals of the top 5 scoring teams, the percentage of scoring ranges from Bayern with 23% to Chelsea with 18%.

### Making a bar graph for the top 5 scoring teams
**How much do the top 5 scoring teams have possession of the ball?**

In [33]:
top5 = soccer_df.iloc[0:5]

plt.bar(top5['Team'], top5['Average ball posession (%)'])
plt.xlabel'Team')
plt.ylabel('Average ball possession (%)')
plt.title('Ball possession of top 5 teams')
plt.show()

SyntaxError: invalid syntax (<ipython-input-33-2fdb770a5f56>, line 4)

**Notice** that the top two scoring teams also have the highest percentage of ball possession: Bayern with 61% and Barcelona with 57%. Although Monchengladbach is ranked third for total goals, they only have possession of the ball 44% of their game play. 

I wonder how Monchengladbach is a top scorer while possessing the ball less than half the time...

## Breaking down the code

- Understand the problem
- Read the error messages carefully
- Pay attention to details in the code like **( )**, **capitals**, and **spelling**
- Remember that python starts counting at **0**
- **Ask a friend** if you're stuck

<center><h1>⚽️ Keep trying and have fun! ⚽️</h1></center>

[![Callysto.ca License](https://github.com/callysto/curriculum-notebooks/blob/master/callysto-notebook-banner-bottom.jpg?raw=true)](https://github.com/callysto/curriculum-notebooks/blob/master/LICENSE.md)